@use "sass:map";
@use "sass:meta";
@use "breakpoints";

$fonts: (
    h1: (
        size: 4.8rem,
        lh: 1.05,
        weight: 700,
    ),
    h1-tight: (
        size: 4.8rem,
        lh: 0.95,
        weight: 700,
    ),
    h2: (
        size: 3.6rem,
        lh: 1.1,
        weight: 700,
    ),
    h3: (
        size: 2.8rem,
        lh: 1.2,
        weight: 600,
    ),
    h4: (
        size: 2.2rem,
        lh: 1.25,
        weight: 600,
    ),
    h5: (
        size: 1.8rem,
        lh: 1.3,
        weight: 500,
    ),
    h6: (
        size: 1.6rem,
        lh: 1.3,
        weight: 500,
    ),
    body: (
        size: 1.8rem,
        lh: 1.6,
        weight: 400,
    ),
    body-bold: (
        size: 1.8rem,
        lh: 1.6,
        weight: 500,
    ),
    body-semibold: (
        size: 1.8rem,
        lh: 1.6,
        weight: 600,
    ),
    body-code: (
        size: 1.7rem,
        lh: 1.6,
        weight: 400,
    ),
    button: (
        size: 2rem,
        lh: 1,
        weight: 600,
    ),
    meta: (
        size: 1.1rem,
        lh: 1,
        weight: 600,
    ),
    glitch: (
        size: 18rem,
        lh: 1,
        weight: 700,
    ),
);
$fonts-tablet: (
    h1: (
        size: 3.2rem,
        lh: 1.1,
        weight: 700,
    ),
    h1-tight: (
        size: 3.2rem,
        lh: 0.95,
        weight: 700,
    ),
    h2: (
        size: 2.6rem,
        lh: 1.15,
        weight: 700,
    ),
    h3: (
        size: 2.2rem,
        lh: 1.2,
        weight: 600,
    ),
    h4: (
        size: 1.8rem,
        lh: 1.25,
        weight: 600,
    ),
    h5: (
        size: 1.6rem,
        lh: 1.3,
        weight: 500,
    ),
    h6: (
        size: 1.4rem,
        lh: 1.3,
        weight: 500,
    ),
    body-bold: (
        size: 1.6rem,
        lh: 1.6,
        weight: 500,
    ),
    body-semibold: (
        size: 1.6rem,
        lh: 1.6,
        weight: 600,
    ),
    body-code: (
        size: 1.5rem,
        lh: 1.6,
        weight: 400,
    ),
    body: (
        size: 1.6rem,
        lh: 1.6,
        weight: 400,
    ),
    button: (
        size: 1.6rem,
        lh: 1,
        weight: 600,
    ),
    meta: (
        size: 1.1rem,
        lh: 1,
        weight: 600,
    ),
    glitch: (
        size: 16rem,
        lh: 1,
        weight: 700,
    ),
);
$fonts-mobile: (
    h1: (
        size: 3.2rem,
        lh: 1.1,
        weight: 700,
    ),
    h1-tight: (
        size: 3.2rem,
        lh: 0.95,
        weight: 700,
    ),
    h2: (
        size: 2.6rem,
        lh: 1.15,
        weight: 700,
    ),
    h3: (
        size: 2.2rem,
        lh: 1.2,
        weight: 600,
    ),
    h4: (
        size: 1.8rem,
        lh: 1.25,
        weight: 600,
    ),
    h5: (
        size: 1.6rem,
        lh: 1.3,
        weight: 500,
    ),
    h6: (
        size: 1.4rem,
        lh: 1.3,
        weight: 500,
    ),
    body: (
        size: 1.6rem,
        lh: 1.65,
        weight: 400,
    ),
    body-bold: (
        size: 1.6rem,
        lh: 1.65,
        weight: 500,
    ),
    body-semibold: (
        size: 1.6rem,
        lh: 1.65,
        weight: 600,
    ),
    body-code: (
        size: 1.5rem,
        lh: 1.65,
        weight: 400,
    ),
    button: (
        size: 1.6rem,
        lh: 1,
        weight: 600,
    ),
    meta: (
        size: 1.1rem,
        lh: 1,
        weight: 600,
    ),
    glitch: (
        size: 10rem,
        lh: 1,
        weight: 700,
    ),
);

@mixin font-size($type) {
    $token: map.get($fonts, $type);

    @if $token {
        font-size: map.get($token, size);
        font-weight: map.get($token, weight);
        line-height: map.get($token, lh);
    }

    @include breakpoints.tablet {
        $token: map.get($fonts-tablet, $type);

        @if $token {
            font-size: map.get($token, size);
            font-weight: map.get($token, weight);
            line-height: map.get($token, lh);
        }
    }

    @include breakpoints.mobile {
        $token: map.get($fonts-mobile, $type);

        @if $token {
            font-size: map.get($token, size);
            font-weight: map.get($token, weight);
            line-height: map.get($token, lh);
        }
    }
}

@mixin root-fonts() {
    font-size: 62.5%;

    @media (width <= 767px) {
        font-size: calc(10px + 13 * (100vw - 375px) / 447);
    }

    @media (width >= 768px) and (width <= 1023px) {
        font-size: calc(10px + 4 * (100vw - 768px) / 255);
    }

    @media (width >= 1024px) and (width <= 1360px) {
        font-size: calc(8px + 2 * (100vw - 1024px) / 336);
    }
}
