@use "@/shared/styles/utils/index" as *;

.language-switcher {
    position: relative;
    flex-shrink: 0;

    &__trigger {
        @include default-tr;

        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        padding: 0.6rem 0.8rem;
        border-radius: 0.8rem;

        transition-property: background-color;

        &:hover {
            background-color: var(--hover-background-color);
        }

        svg {
            @include box(2.4rem);

            color: var(--text-color);
        }
    }

    &__options {
        @include default-tr;

        pointer-events: none;

        position: absolute;
        z-index: 10;
        top: calc(100% + 0.8rem);
        right: 0;
        left: 50%;
        transform: translateX(-50%);

        display: flex;
        flex-direction: column;

        width: fit-content;
        margin: 0;
        padding: 0.6rem 0;
        border: 1px solid var(--text-color);
        border-radius: 1.2rem;

        opacity: 0;
        background-color: var(--background-color);
        box-shadow: 0 8px 20px rgb(0 0 0 / 15%);

        transition-property: opacity, border-color;

        &::before {
            content: "";

            position: absolute;
            top: -0.8rem;
            right: 0;
            left: 0;

            height: 0.8rem;
        }

        li {
            list-style: none;

            button {
                @include default-tr;
                @include font-size(button);

                width: 100%;
                padding: 0.6rem 1rem;
                border-radius: 1.2rem;

                color: var(--text-color);

                background-color: transparent;

                transition-property: background-color;

                &:hover {
                    background-color: var(--hover-background-color);
                }

                &.selected {
                    pointer-events: none;
                    opacity: 0.5;
                }
            }
        }
    }

    @include mobile {
        &__trigger {
            padding: 0.8rem 1rem;
        }

        &__options {
            top: calc(100% + 1rem);
            padding: 0.8rem 0;
            border-radius: 1.6rem;

            li button {
                min-width: 8rem;
                padding: 1.2rem 1.6rem;
                border-radius: 1.6rem;
            }
        }
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover &__options,
        &:focus-within &__options {
            pointer-events: auto;
            opacity: 1;
        }
    }

    @media (hover: none), (pointer: coarse) {
        &:focus-within &__options {
            pointer-events: auto;
            opacity: 1;
        }
    }
}
