@use "@/shared/styles/utils/index" as *;

.about-path {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__list-wrapper {
        position: relative;
        margin: 0 10rem;

        @include tablet {
            margin: 0 6.4rem;
        }

        @include mobile {
            margin: 0;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;

        margin: 0;
        padding: 0;

        list-style: none;
    }

    &__progress {
        pointer-events: none;
        will-change: transform;

        position: absolute;
        top: 0;
        left: 0.85rem;
        transform-origin: top center;

        width: 2px;
        height: 100%;

        background: var(--background-contrast-color);
    }

    &__ball {
        @include box(1.6rem);

        will-change: transform;

        position: absolute;
        z-index: 3;
        top: 0;
        left: 0.95rem;
        transform: translate3d(-50%, 0, 0);

        border-radius: 50%;

        backface-visibility: hidden;
        background: var(--background-contrast-color);
    }

    &__ball,
    &__progress {
        @include default-tr;

        opacity: 0;
        transition-property: opacity;

        &.is-visible {
            opacity: 1;
        }

        @include mobile {
            display: none;
        }
    }

    &__item {
        @include default-tr;

        position: relative;
        transform: translateX(0);

        padding-left: 3rem;

        opacity: 0.6;

        transition-property: opacity, transform;

        @include tablet {
            padding-left: 2.4rem;
        }

        @include mobile {
            padding-left: 0;
        }
    }

    &__item.is-active {
        transform: translateX(1rem);
        opacity: 1;

        @include mobile {
            transform: none;
        }
    }

    &__title {
        text-align: center;
    }

    &__before {
        @include mobile {
            display: none;
        }
    }

    &__after {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
    }

    &__card {
        @include default-tr;

        display: flex;
        gap: 1.6rem;
        align-items: center;
        justify-content: space-between;

        padding: 2.4rem;
        border-radius: 1.6rem;

        color: var(--text-contrast-color);

        background: var(--background-contrast-color);
    }
}
